#meuVideo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.conteudo {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

#meuBotao {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#meuBotao:hover {
  background: #ddd;
  color: black;
}